.app {
  min-height: 100%;
  background-image: url('./assets/pexels-lumn-406014.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 30px;
}

.header {
  text-align: center;
  margin-top: 40px;
}

.loading {
  width: 100%;
  margin: 40px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .header {
    margin-top: 20px;
  }
}